/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #f35d2a;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #111122;
  font-weight: 300;
  font-size: 1em;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  text-align: center;
}
.logo img {
  max-width: 250px;
}
.social-media img {
  width: 18px;
  margin-right: 8px;
}
.social-media p {
  display: inline-block;
  vertical-align: top;
}
.contact {
  text-align: center;
}
.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.margin {
  margin: 15px 0 10px 0;
}
/* ANCHOR RESET */

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}
